.box {
  background: #dd4911;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  animation-name: slideRight;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 2s;
}

.reverse {
  animation-direction: reverse;
}

.alternate {
  animation-direction: alternate;
}

@keyframes slideRight {
  100%{
    transform: translateX(500px);
  }
}